# .NET
bin/
obj/
*.user
*.suo
*.cache
*.dll
*.exe
*.pdb

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# IDE
.vs/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment
.env
.env.local
.env.production
.env.development

# python
__pycache__/